@font-face {
  font-family: 'Playwrite';
  src: url('../fonts/PlaywriteVN-Regular.ttf');
}
header {
  background-color: #fcfcfcf6;
  padding: 0 20%;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between; /*horizontal*/
  align-items: center; /*vertical*/
}

.logo {
  width: 60px;
  height: 60px;
}
.menu > ul {
  display: flex;
}
/* 2 4 8 16 24  */
.menu > ul > li {
  list-style: none;
  margin: 0 16px;
}
.menu > ul > li > a {
  text-decoration: none;
  color: #111111;
}

.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(205, 244, 238, 0.2);
}

.landing > div {
  width: 50%;
  height: 400px;
}
.landing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-text > h1 {
  font-size: 2.5rem;
  color: #111111;
  /* X axis , Y axis , blur radius , color  */
  text-shadow: -8px -8px 8px rgba(0, 0, 255, 0.2);
  /* text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: red;
  text-decoration-style: solid;

  text-decoration: underline 2px solid red;
} */
}
.landing-text > p {
  font-family: 'Playwrite', sans-serif;
  font-size: 2rem;
  color: #111111;
}
.landing-text > button {
    padding: 12px 32px;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    border-color: aqua;
    background-color: aquamarine;
    color: rgb(129, 126, 126);
    font-size: 0.8rem;
    text-transform: uppercase;
}
.landing-text > a:link{
  color:white;
  background-color: red;
  padding: 12px 32px;
  border-radius: 8px;
}
.landing-img > img {
  width: 400px;
  height: 400px;
}
